<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145587041928-jfsf15tjtdfd195f293aua29gfr59ujq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145587041928-jfsf15tjtdfd195f293aua29gfr59ujq</string>
	<key>API_KEY</key>
	<string>AIzaSyBozYlsMZrPre_kL-3tJ2-L54ouk9m9UoM</string>
	<key>GCM_SENDER_ID</key>
	<string>145587041928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.Snowboarding</string>
	<key>PROJECT_ID</key>
	<string>snowboarding-c1495</string>
	<key>STORAGE_BUCKET</key>
	<string>snowboarding-c1495.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145587041928:ios:c6e7860e28c776d3c3113d</string>
</dict>
</plist>